django>=4
djangorestframework>=3.13.1
annotated-types>=0.7.0
anthropic>=0.39.0
anyio>=4.6.2.post1
asgiref>=3.8.1
certifi>=2024.8.30
distro>=1.9.0
exceptiongroup>=1.2.2
h11>=0.14.0
httpcore>=1.0.7
httpx>=0.27.2
idna>=3.10
jiter>=0.7.1
pillow>=11.0.0
pydantic>=2.9.2
pydantic_core>=2.23.4
sniffio>=1.3.1
sqlparse>=0.5.1
typing_extensions>=4.12.2
gunicorn>=21.2.0
pip>=24.0.0
pytesseract>=0.3.10
pdfplumber>=0.11.0
opencv-python-headless>=4.8.1.78
numpy>=1.22.0
psycopg2-binary
whitenoise
dotenv
python-dotenv
django-storages
boto3
django-cors-headers
celery
redis
djangorestframework-simplejwt
websockets>=12.0
python-jose[cryptography]>=3.3.0
qdrant-client>=1.9.0